server:
  port: 8081
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres:5432/nanomarket_db
    username: root
    password: root
  data:
    jdbc:
      dialect: postgresql
  jpa:
    properties:
      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
    hibernate:
      ddl-auto: validate

#  minio.access-key=minioaccesskey
#  minio.secret-key=miniosecretkey
#  minio.endpoint=http://localhost:9000
#  minio.region=us-east-1
minio:
  access-key: minioaccesskey
  secret-key: miniosecretkey
  endpoint: http://localhost:9000
  region: us-east-1



eureka:
  instance:
    preferIpAddress: true
  client:
#    registerWithEureka: true
#    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka

management:
  endpoint:
    env:
      post:
        enabled: true
